
@{
    ViewBag.Title = "DateIssue";
}

<h2>DateIssue</h2>



<strong>The completion deadline must be later than the posted date</strong>

<br><br/>

<a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />