@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@using (Html.BeginForm("sendMailNow", "email"))
{

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="sendMailNow" class="btn btn-default" />
        </div>
    </div>
}

@using (Html.BeginForm("sendContractorMail", "email"))
{

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="contractor test" class="btn btn-default" />
        </div>
    </div>
}