
@{
    ViewBag.Title = "View_Databases";
}

<h2>View_Databases</h2>

@using (Html.BeginForm("Index", "CompletedBids"))
{

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Completed Bids" class="btn btn-default" />
        </div>
    </div>
}

@using (Html.BeginForm("AdminPaymentsDue", "CompletedBids"))
{

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Get Payments Due" class="btn btn-default" />
        </div>
    </div>
}